@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --text-color: #363535;
  --sub-text-color: #c5c5c5;
  --alt-text-color: #fff;
  --error-color: rgb(216, 45, 45);

  --main-theme-color: #4a3aff;
  --alt-theme-color: #fff;

  --border-color: #eff0f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  /* // -webkit-clip-path: inset(100%); */
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--text-color);

  margin: 0;
  background-color: #fff;
}